<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="description" content="A cool thing made with MongoDB">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        URL Shortner Microservice.
      </h1>
    </header>
    
    <main>
      <h2>
        User stories:
      </h2>
      <ul>
        <li>I can pass a URL as a parameter and I will receive a shortened URL in the JSON response.</li>
        <li>If I pass an invalid URL that doesn't follow the valid http://www.example.com format, the JSON response will contain an error instead.</li>
        <li>When I visit that shortened URL, it will redirect me to my original link.</li>
      </ul>
    </main>
    
    <footer>
      <h3>
        Example Usage:
      </h3>
      <p><mark>https://fcc3-url-sho.glitch.me/new/http://www.example.com</mark>  has short form as</p>
      <p><mark>https://fcc3-url-sho.glitch.me/HkggtnrC-</mark></p>
    </footer>
    
  </body>
</html>